@media  (max-width:1150px){
    .rent__car__content h3{
        font-size: 48px;
    }
    .service__card__wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .service.card{
    width: 240px ;
    height: 100px;
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #F4F5F6;
    }
}
@media  (max-width:1130px){
    .service.card{
        width: 200px ;
        height: 100px;
        padding: 64px 32px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: #F4F5F6;
        }
}
@media  (max-width:1120px){
    .card__explore__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
    
    .card__explore{
        display: none;
    }
    .card__explore__small{
        display: inline-block;  
    }
    .card__explore__small:hover{
        transform: scale(1.2);
        transition: 0.5s;
        cursor: pointer;
    }
    .explore__btn{
        display: none;
    }   
}
@media  (max-width:1095px){
    .explore__body{
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 340px;
    }
}
@media  (max-width:1084px) {
    .navbar__collection{
        display: none;
    }
}
@media  (max-width:950px){
    .rent__car__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rent__car__content h3{
        width: 448px;
    }
    .rent__car__content p{
        width: 311px;
    }
 
    .rent__car__image img:first-child{
      margin-top: 40px;
    }
    
}
@media  (max-width:885px){
    .explore__body{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin: 50px 0;
        
    }
  
}
@media (max-width: 700px) {
    .sponsors div {
      width: 45%;
      border: none;
      border: 1px solid #e6e8ec;
    }
  
    .sponsors div:nth-child(1),
    .sponsors div:nth-child(3),
    .sponsors div:nth-child(5) {
      border-left: none;
    }
  
    .sponsors div:nth-child(2),
    .sponsors div:nth-child(4),
    .sponsors div:nth-child(6) {
      border-right: none;
    }
  
    .sponsors div:nth-child(3) {
      border-right: 1px solid #e6e8ec;
    }
  
    .sponsors div:nth-child(2) {
      border-left: none;
      border-bottom: none;
    }
  
    .sponsors div:nth-child(5) {
      border-right: none;
      border-top: none;
    }
  }
@media  (max-width:650px) {
    .header__logo{
        display: flex;
        flex: 1;
    }
    .traveler{
    display: none;
   }
    .navbar__collection{
        display: none;
    }
    .hero__content h2{
        font-size: 64px;
        font-weight: 700;
    }
    .hero__content p{
        font-size: 24px;
        font-weight: 400;
    }
    .button__destination__upper{
        display: none;

    }
    .button__destination__bottom{
        display: inline-block;
        display: flex;
        align-items: start;
        gap: 8px;
        margin:48px 0;
    }
    .button__destination__bottom button{
        width:40px ;
        height:40px ;
        border-radius: 50%;
        border: 1px solid transparent;
        cursor: pointer;
        background: #fff;
        border: 1px solid #777e90 ;
        transition: 0.5s ease-in;
    }
    .button__destination__bottom button:hover{
        background-color: #ddd;
        border: 1px solid transparent;
    }
    .rent__car__wrapper{
        padding-top:2px ;
    }
    .rent__car__content h3{
        width: 311px;
        font-size: 40px;
        align-items: start;
    }
    .rent__car__image img:first-child{
        display: none;
    }
    .rent__car__image img:last-child{
        display: inline-block;
        margin-top: 48px;
    }
}
@media  (max-width:580px){
    .explore__body{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        gap: 0;
        margin: 50px 0;
        
    }
    .explore__body h3{
        width: 223px;
        font-size: 40px;
    }
    .button__explore{
        padding: 0;
    }
}
@media  (max-width:500px) {
    .header__logo{
        display: flex;
        flex: 1;
    }
    .traveler{
    display: none;
   }
    .navbar__collection{
        display: none;
    }
    
    .notification__account_image button{
       display: none;

    }
    .burger__menu{
        display: inline-block;
        margin-left: 20px;

    }
    .hero__content{
        padding-top: 48px;
    }
    .hero__content h2{
        font-size: 64px;
        font-weight: 700;
        width: 296px;
        text-align: center;
    }
    .hero__content p{
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        width: 296px;
    }
    .destination__content h3{
        font-size: 40px;
        font-weight: 700;
    }
    .destination__content span{
        font-size: 16px;
        font-weight: 400;
    }
    .service__content h2{
        font-size: 40px;
    }
}
@media (max-width: 430px) {
    .sponsors div {
      width: 100%;
      border: none;
      border-bottom: 1px solid #e6e8ec !important;
    }
  }