@media  (max-width:1084px) {
    .navbar__collection{
        display: none;
    }
}
@media  (max-width:650px) {
    .header__logo{
        display: flex;
        flex: 1;
    }
    .traveler{
    display: none;
   }
    .navbar__collection{
        display: none;
    }
    .hero__content h2{
        font-size: 64px;
        font-weight: 700;
    }
    .hero__content p{
        font-size: 24px;
        font-weight: 400;
    }
    .button__destination__upper{
        display: none;

    }
    .button__destination__bottom{
        display: inline-block;
        display: flex;
        align-items: start;
        gap: 8px;
        margin:48px 0;
    }
    .button__destination__bottom button{
        width:40px ;
        height:40px ;
        border-radius: 50%;
        border: 1px solid transparent;
        cursor: pointer;
        background: #fff;
        border: 1px solid #777e90 ;
        transition: 0.5s ease-in;
    }
    .button__destination__bottom button:hover{
        background-color: #ddd;
        border: 1px solid transparent;
    }
}
@media  (max-width:500px) {
    .header__logo{
        display: flex;
        flex: 1;
    }
    .traveler{
    display: none;
   }
    .navbar__collection{
        display: none;
    }
    
    .notification__account_image button{
       display: none;

    }
    .burger__menu{
        display: inline-block;
        margin-left: 20px;

    }
    .hero__content{
        padding-top: 48px;
    }
    .hero__content h2{
        font-size: 64px;
        font-weight: 700;
        width: 296px;
        text-align: center;
    }
    .hero__content p{
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        width: 296px;
    }
}