/* Header */
.navbar{
    display: flex;
    height: 88px;
    padding: 12px 0;
    align-items: center;

}
.header__logo{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    

}
.header__logo strong{
    font-family: "Poppins", sans-serif;
    font-size:  26px; 
    font-weight: 600;
    
}
.traveler{
    display: flex;
    align-items: center;
    margin-left: 80px;
    gap: 8px;
    flex: 1; 
}
.traveler:hover{
    text-decoration: underline #777E90;
    cursor: pointer;
}
.traveler span{
    color: var(--color-secondarytext);

}
.navbar__collection{
    display: flex;
    align-items: center;
    
}
.navbar__collection li:nth-child(1){
    color: var(--color-secondarytext);
    margin-right: 24px;
    font-size:14px ;
    font-weight:700 ;

}
.navbar__collection li:nth-child(1):hover{
    text-decoration: underline;
}
.navbar__collection li:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-secondarytext);
    font-size:14px ;
    font-weight:700 ;
    margin-right: 24px;
}
.navbar__collection li:nth-child(2):hover{
    text-decoration: underline #777E90;
    cursor: pointer;
}
.notification__account_image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}
.notification__account_image button{
    padding: 10px 28px;
    border-radius: 90px;
    color: #23262F ;
    border: 1px solid #e6e8ec;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease-out;

}
.notification__account_image button:hover{
    background-color: #e6e8ec;
    border: 1px solid #000;

}
.burger__menu{
    display: none;
}

/* Hero */
.hero{
    width: 100%;
    height: 708px;
    background: url(../assets/heroimage.png) no-repeat center/cover ;
    border-radius: 22px;

}
.hero__content{
    width: 100%;
    height: 80%;
    display: flex;
    background: linear-gradient(rgba(236, 248, 252, 0.596),hsla(195, 73%, 96%, 0.81), #ECF8FC00);
    flex-direction: column;
    align-items: center;
    padding-top: 167px;
    gap: 18px;
}
.hero__content h2{
     font-size: 96px;
     font-weight: 700;
}
.hero__content p{
    font-family: "Poppins", sans-serif;
    font-size:24px ;
    font-weight: 400;
    color: #23262F;
}
.hero__content button{
    background-color: var( --bg-pr-button);
    padding: 12px 24px;
    border-radius: 90px;
    border: 1px solid transparent;
    color: #fff;
    font-size:16px ;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.hero__content button:hover{
    background-color: #fff;
    border: 1px solid var(--bg-pr-button);
    color: var(--bg-pr-button);
}
/* Section of Destination */
.destination__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 48px;
}
.destination__content{
    display: flex;
    flex-direction: column;
}
.destination__content h3{
    font-size: 48px;
    font-weight: 700;
    color: var(--color-maintext);
}
.destination__content span{
    font-size:24px ;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
    color: var(--color-secondarytext);
    margin-top: 12px;
}
.button__destination__upper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.button__destination__upper button{
    width:40px ;
    height:40px ;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    background: #fff;
    border: 1px solid #777e90 ;
    transition: 0.5s ease-in;
}
.button__destination__upper button:hover{
    background-color: #ddd;
    border: 1px solid transparent;
}
.card__destination__wrapper{
    display:flex ;
    gap: 32px;
    overflow: auto;
    margin-bottom: 48px;
    
}
.card__destination__wrapper::-webkit-scrollbar{
    height: 8px;
}
.card__destination__wrapper::-webkit-scrollbar-thumb{
    background: #ddd;
    border-radius:30px ;
    cursor: pointer;
}
.card__destination{
    min-width:336px ;
    width: 336px;
    height: 344px;
}
.card__destination h4{
    margin-top: 21px;
    color: var(--color-maintext);
    font-size: 24px;
    font-weight: 600;
}
.card__destination p{
    margin-top: 8px;
    color: var(--color-secondarytext);
    font-size:12px ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.button__destination__bottom{
    display: none;
}
.show__btn button{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 30px;
    border-radius: 90px;
    background-color: #fff;
    border: 1px solid #e6e8ec;
    color: var(--color-maintext);
    font-size:16px ;
    font-weight:700 ;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.show__btn button:hover{
   background-color: #e6e8ec;
   border: 1px solid #ddd ;
}
/* Rent car section  */
.rent__car__wrapper{
    display: flex;
    padding-top: 100px;
}
.rent__car__content{
    padding-top: 166px;
}
.rent__car__content strong{
   font-family: "Poppins", sans-serif;
   font-size: 12px;
   font-weight: 700;
   color: var(--color-secondarytext);
}
.rent__car__content h3{
    margin: 16px 0 32px 0;
    font-size:48px ;
    font-weight:700 ;
    color: var(--color-maintext);
    line-height:56px ;

}
.rent__car__content p{
    font-family: "Poppins", sans-serif;
    font-size: 16px ;
    font-weight: 400 ;
    color: var(--color-secondarytext);
    line-height:24px ;
}
.registration__input{
    position: relative;
    width: 300px;
    height: 48px;
    margin-top: 40px;

}
.registration__input input{
   width: 300px;
   height: 48px;
   border-radius: 90px;
   border: 1px solid #e6e8ec;
   background: #fff;
   color: var(--color-secondarytext);
   font-size: 14px;
   font-weight: 400;
   font-family: "Poppins", sans-serif;
   padding: 2px 0 2px 16px ;
}
.registration__input button{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background-color: var(--bg-pr-button);
    cursor: pointer;
    transition: 0.5 ease;
}
.registration__input button:hover{
    background: #ddd ;
}
.rent__car__image img:last-child{
    display: none;
}
/* Explore Section */
.explore__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 48px;
}
.explore__content{
    display: flex;
    flex-direction: column;
}
.explore__content h3{
    font-size: 48px;
    font-weight: 700;
    color: var(--color-maintext);
}
.explore__content span{
    font-size:24px ;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
    color: var(--color-secondarytext);
    margin-top: 12px;
}
.button__explore{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    gap: 8px;

}
.button__explore button{
    width:40px ;
    height:40px ;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    background: #fff;
    border: 1px solid #777e90 ;
    transition: 0.5s ease-in;
}
.button__explore button:hover{
    background-color: #ddd;
    border: 1px solid transparent;
}
.card__explore{
    transition: 0.5s;
}
.card__explore:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.card__explore__wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    
}
.card__explore h4{
    margin-top: 21px;
    color: var(--color-maintext);
    font-size: 24px;
    font-weight: 600;

}
.card__explore p{
    margin-top: 8px;
    color: var(--color-secondarytext);
    font-size:12px ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.card__explore__small{
    display: none;
}
.card__explore__small h4{
    margin-top: 21px;
    color: var(--color-maintext);
    font-size: 24px;
    font-weight: 600;
}
.card__explore__small p{
    margin-top: 8px;
    color: var(--color-secondarytext);
    font-size:12px ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.explore__btn{
    margin-top: 48px;
}
/* service section */
.service__card__wrapper{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.service__content{
    padding-top: 130px;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
}
.service__content p{
   color: var(--color-secondarytext);
   font-size: 12px;
   font-weight:700 ;
   font-family: "Poppins", sans-serif;   

}
.service__content h2{
    margin: 8px 0 32px 0 ;
   font-size:48px ;
   font-weight: 700;
   color: var(--color-maintext);
}
.service__content button{
   padding: 12px 22px;
   background-color: var(--bg-pr-button);
   font-size:16px ;
   font-weight: 700 ;
   font-family: "Poppins", sans-serif;
   border: 1px solid transparent;
   border-radius: 90px;
   color: #fff;
   cursor: pointer;
   transition: .5s ease-in;
}
.service__content button:hover{
    background-color: #fff;
    color: var(--bg-pr-button);
    border: 1px solid var(--bg-pr-button);

}

.service__card{
    width: 300px ;
    height: 170px;
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #F4F5F6;
}
.service__card span{
    margin: 32px 0 16px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.service__card p{
    font-size:14px ;
    width: 293px;
    font-weight:400 ;
    line-height: 24px;
    color: var(--color-secondarytext);
    font-family: "Poppins", sans-serif;
}
.service__card img{
    width: 48px;
    height: 48px;
}
/* sponsors section */

.sponsors {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 ;
  }
  
  .sponsors div {
    width: 30%;
    height: 150px;
    border: 1px solid #e6e8ec;
    /* border: 1px solid #e6e8ec; */    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sponsors div:nth-child(1),
  .sponsors div:nth-child(4) {
    border-left: none;
  }
  
  .sponsors div:nth-child(3),
  .sponsors div:nth-child(6) {
    border-right: none;
  }
  
  .sponsors div:nth-child(1),
  .sponsors div:nth-child(2),
  .sponsors div:nth-child(3) {
    border-top: none;
  }
  
  .sponsors div:nth-child(4),
  .sponsors div:nth-child(5),
  .sponsors div:nth-child(6) {
    border-bottom: none;
  }
/* Faq  */
.faq__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.faq__content h2{
    color: var(--color-maintext);
    font-size:48px ;
    font-weight:700 ;
    
}
.faq__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 46px;
}
.faq__btn button{
   border-radius: 100px;
   border: 1px solid transparent;
    padding: 6px 10px;
    background-color: #353945;
    color: #fcfcfd;
    font-size: 14px;
    font-weight:700 ;
    transition: 0.5s ease-in;
    cursor: pointer;
}
.faq__btn button:hover{
    background-color: transparent;
    color: var(--color-secondarytext);
}
.faq__wrapper{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.faq__question{
    width: 546px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e6e8ec;
}
.faq__question p{
    margin-left: 32px;
    flex: 1;
    color: var(--color-maintext);
    font-size:16px ;
    font-weight: 500 ;
    font-family: "Poppins", sans-serif;
}

.faq__question{
    height: 40px;
    cursor: pointer;
}
.faq__question:hover span{
    color: var(--bg-pr-button);
}
.faq__question:hover p:hover{
    text-decoration: underline #777e90;
}
.faq__question:hover i{
    transition: 0.2s ease-in;
}
.faq__question:hover i{
    transform: rotate(180deg);
}
/* Location  */
.location__content{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.location__content h2{
    font-size:48px ;
    font-weight: 700 ;
    color: var(--color-maintext);
}
.location__content p{
    margin-top: 12px;
    font-size:24px ;
    font-weight: 400 ;
    color: var(--color-secondarytext);
    font-family: "Poppins", sans-serif;
}
.location__wrapper{
    margin-top: 50px;
    display: flex;
    gap: 32px;
    overflow: auto;
}
.location__wrapper::-webkit-scrollbar{
    height: 8px;
}
.location__wrapper::-webkit-scrollbar-thumb{
    background: #ddd;
    border-radius:30px ;
    cursor: pointer;
}
.card__location{
    min-width:256px ;
    width: 256px;
    height: 200px;
    border: 1px solid #e6e8ec;
    border-radius: 24px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    

}
.card__location span{
    padding: 10px 10px ;
    width: 30%;
    border-radius: 100px;
    background-color: #e6e8ec;
    margin-bottom: 72px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.card__location img{
    width: 32px ;
    height:32px;
    margin-bottom: 24px;
}
.card__location h6{
    color: var(--color-maintext);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.card__location p{
    margin-top: 6px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: var(--color-secondarytext);
}
.location__btn{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}
/* Footer  */

.footer__top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #e6e8ec;
    padding-top: 50px;
  }
  
  footer ul {
    color: var(--color-secondarytext);
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  
  footer h6 {
    font-weight: 700 ;
    color: var(--color-maintext);
    text-transform: uppercase;
  }
  
  .footer__input__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  
  footer input {
    width: 255px;
    padding: 15px;
    border-radius: 90px;
    border: 2px solid #e6e8ec;
    outline: none;
  }
  
  footer input::placeholder {
    color: var(--color-secondarytext);
    font-family: "Poppins" sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
  
  .footer__input {
    position: relative;
  }
  
  .footer__input__sendbtn {
    position: absolute;
    right: 10px;
    top: 9px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: 700;
    background-color: var(--bg-pr-button);
  }
  .footer__bottom {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  footer span {
    font-size: 12px;
    line-height: 20px;
    font-family: "Poppins";
  }

