/* Header */
.navbar{
    display: flex;
    height: 88px;
    padding: 12px 0;
    align-items: center;

}
.header__logo{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    

}
.header__logo strong{
    font-family: "Poppins", sans-serif;
    font-size:  26px; 
    font-weight: 600;
    
}
.traveler{
    display: flex;
    align-items: center;
    margin-left: 80px;
    gap: 8px;
    flex: 1; 
}
.traveler:hover{
    text-decoration: underline #777E90;
    cursor: pointer;
}
.traveler span{
    color: var(--color-secondarytext);

}
.navbar__collection{
    display: flex;
    align-items: center;
    
}
.navbar__collection li:nth-child(1){
    color: var(--color-secondarytext);
    margin-right: 24px;
    font-size:14px ;
    font-weight:700 ;

}
.navbar__collection li:nth-child(1):hover{
    text-decoration: underline;
}
.navbar__collection li:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-secondarytext);
    font-size:14px ;
    font-weight:700 ;
    margin-right: 24px;
}
.navbar__collection li:nth-child(2):hover{
    text-decoration: underline #777E90;
    cursor: pointer;
}
.notification__account_image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}
.notification__account_image button{
    padding: 10px 28px;
    border-radius: 90px;
    color: #23262F ;
    border: 1px solid #e6e8ec;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease-out;

}
.notification__account_image button:hover{
    background-color: #e6e8ec;
    border: 1px solid #000;

}
.burger__menu{
    display: none;
}

/* Hero */
.hero{
    width: 100%;
    height: 708px;
    background: url(../assets/heroimage.png) no-repeat center/cover ;
    border-radius: 22px;

}
.hero__content{
    width: 100%;
    height: 80%;
    display: flex;
    background: linear-gradient(rgba(236, 248, 252, 0.596),hsla(195, 73%, 96%, 0.81), #ECF8FC00);
    flex-direction: column;
    align-items: center;
    padding-top: 167px;
    gap: 18px;
}
.hero__content h2{
     font-size: 96px;
     font-weight: 700;
}
.hero__content p{
    font-family: "Poppins", sans-serif;
    font-size:24px ;
    font-weight: 400;
    color: #23262F;
}
.hero__content button{
    background-color: var( --bg-pr-button);
    padding: 12px 24px;
    border-radius: 90px;
    border: 1px solid transparent;
    color: #fff;
    font-size:16px ;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.hero__content button:hover{
    background-color: #fff;
    border: 1px solid var(--bg-pr-button);
    color: var(--bg-pr-button);
}
/* Section of Destination */
.destination__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 180px;
}
.destination__content{
    display: flex;
    flex-direction: column;
}
.destination__content h3{
    font-size: 48px;
    font-weight: 700;
    color: var(--color-maintext);
}
.destination__content span{
    font-size:24px ;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
    color: var(--color-secondarytext);
    margin-top: 12px;
}
.button__destination{
    display: flex;
    gap: 8px;

}
.button__destination button{
    width:40px ;
    height:40px ;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    background: #fff;
    border: 1px solid #777e90 ;

}
.button__destination button:hover{
    background: transparent;
}
